body{
    margin: 0;
    padding: 0;
}
.btt{
   text-align:center;
   padding: 300px; 
}
button{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 20px;
    border: 2px Solid white;
    border-radius: 5px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
}